<h1 class="py-4 text-3xl text-white text-center">
    vCard
</h1>
<div class="relative px-4 -bottom-4">
    <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
    </div>
</div>
<div class="p-safe-bottom bg-gray-50 px-2 flex-1 flex flex-col overflow-hidden">
    <ng-container>
        <form class="flex-1 overflow-scroll" [formGroup]="form">
            <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="givenname">Vorname*</label>
                    <input id="givenname" type="text" placeholder="Vorname" formControlName="givenName" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
            </div>
            <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="name">Nachname*</label>
                    <input id="name" type="text" placeholder="Name" formControlName="familyName" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
            </div>
            <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="email">Email*</label>
                    <input type="email" id="email" formControlName="email" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Email">
                </div>
            </div>
            <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="phone">Telefon</label>
                    <input id="phone" type="text" formControlName="phone" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Phone">
                </div>
            </div>
            <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="mobile">Handy-Nr.*</label>
                    <input id="mobile" type="text" formControlName="mobile" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Phone">
                </div>
            </div>
            <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="address">Adresse</label>
                    <input id="address" type="text" formControlName="address" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Address">
                </div>
            </div>
        </form>
        <div #canvas class="tw-w-full tw-h-32"></div>
        <button type="submit"
                [disabled]="form.invalid"
                [class.bg-gray-200]="form.invalid"
                [class.pointer-events-none]="form.invalid"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-4 rounded w-full"
                (click)="generate()">
            vCard erstellen
        </button>
        <button type="button"
                [disabled]="form.invalid"
                [class.bg-gray-200]="form.invalid"
                [class.pointer-events-none]="form.invalid"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-4 rounded w-full"
                (click)="download()">
            Download
        </button>
    </ng-container>
</div>
