<h1 class="py-4 text-3xl text-white text-center">
    vCard
</h1>
<div class="relative px-4 -bottom-4">
    <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
    </div>
</div>
<div class="p-safe-bottom bg-gray-50 px-2 flex-1 flex flex-col overflow-hidden">
    <form class="flex-1 overflow-scroll">
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="name">Vorname</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Name">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="name">Nachname</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Name">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="phone">Telefon</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="text" placeholder="Phone">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="phone">Handy-Nr.</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="text" placeholder="Phone">
            </div>
        </div>
        <div class="mb-2 bg-white p-3 shadow-lg rounded cursor-pointer transition-colors border-b-2 border-transparent hover:border-pink-500">
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-bold mb-2" for="address">Adresse</label>
                <input class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address" type="text" placeholder="Address">
            </div>
        </div>
    </form>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-4 rounded w-full">
        vCard erstellen
    </button>
</div>
